@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font: normal 100%/1.5 serif;
  text-align: center;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
}

img:nth-of-type(2),
img:nth-of-type(5) {
  display: none;
}

@media only screen and (min-width: 25em) {

  html {
    font-size: 100%;
    line-height: 1.3;
  }

  img:nth-of-type(1) {
    display: inline-block;
    float: left;
    width: 100%;
  }

  img:nth-of-type(2),
  img:nth-of-type(3) {
    display: inline-block;
    float: left;
    margin: 0;
    padding: 0;
    width: 50%;
  }

  img:nth-of-type(4),
  img:nth-of-type(5) {
    display: inline-block;
    float: left;
    margin: 0;
    padding: 0;
    width: 50%;
  }
}

@media only screen and (min-width: 38em) {

  html {
    font-size: 110%;
    line-height: 1.4;
  }

  img:nth-of-type(1) {
    display: inline-block;
    float: left;
    width: 100%;
  }

  img:nth-of-type(2),
  img:nth-of-type(3),
  img:nth-of-type(4) {
    display: inline-block;
    float: left;
    margin: 0;
    padding: 0;
    width: 33.3333%;
  }

  img:nth-of-type(5) {
    display: none;
  }
}

@media only screen and (min-width: 60em) {

  html {
    font-size: 120%;
    line-height: 1.5;
  }

  img:nth-child(1) {
    display: inline-block;
    float: left;
    width: 66.6666%;
  }

  img:nth-of-type(2) {
    display: inline-block;
    float: left;
    margin: 0;
    padding: 0;
    width: 33.3333%;
  }

  img:nth-of-type(3),
  img:nth-of-type(4),
  img:nth-of-type(5) {
    display: inline-block;
    float: left;
    margin: 0;
    padding: 0;
    width: 33.3333%;
  }
}

@media only screen and (min-width: 90em) {

  html {
    line-height: 1.5;
  }

  img:nth-of-type(1) {
    display: inline-block;
    float: left;
    width: 66.66%;
  }

  img:nth-of-type(2) {
    display: inline-block;
    float: left;
    margin: 0;
    padding: 0;
    width: 33.3333%;
  }

  img:nth-of-type(3),
  img:nth-of-type(4),
  img:nth-of-type(5) {
    display: inline-block;
    float: left;
    margin: 0;
    padding: 0;
    width: 33.3333%;
  }
}
